/* Generelle stilregler for å fjerne margin og padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(../Bilder/mountain.jpg);
      background-size: cover; 
   

/* Flexbox container */
.container {
    display: flex;
    justify-content: space-between; /* Fordeler elementene med jevn avstand */
    padding: 20px;
}

/* Styling for hver flexbox item */
.box {
    color: white;
    padding: 40px;
    font-size: 24px;
    border-radius: 8px;
    flex: 1; /* Gjør at hver boks tar like mye plass */
    margin: 0 10px; /* Avstand mellom boksene */
}

.box1 {
    background-color: #FF5733;
}

.box2 {
    background-color: #33B5E5;
}

.box3 {
    background-color: #FFC107;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse; 
    padding: 10px;
    min-width: 200px;
    font-size: 16px;
  }

