
/* Generelle stiler */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #757c51;
    color: #333;
}

header {
    background-color: #6e64a4;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 10px;
}
h1, h2 {
    margin: 0 0 1em;
    text-align: center;
  }

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    
}

.section1, .section3 {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(252, 249, 249, 0.1);
}

.section2 {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(252, 249, 249, 0.1);
    
    
}
.section4 {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(252, 249, 249, 0.1);
    text-align: center;
    grid-area: 2 / 1 / span 2 / span 3;
   
}
button {
  color: rgba(134, 46, 212, 0.623);
  font-size: xx-large;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(252, 249, 249, 0.1);
  background-color: #c2f5c5;
  border-style: groove;
}

/* Liste-stiler */
ul {list-style-type: square;
    padding-left: 20px;
}

ol {
    padding-left: 20px;
}

/* Responsiv design */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        background-color: violet;
    grid-column: span 1;
    }
}

/* unvisited link */
a:link {
    color: rgb(144, 115, 176);
  }
  
  /* visited link */
  a:visited {
    color: rgb(19, 170, 19);
  }
  
  /* mouse over link */
  a:hover {
    color: rgba(134, 46, 212, 0.623);
    font-size: xx-large;
      border-radius: 25px;
    box-shadow: 0 2px 5px rgba(252, 249, 249, 0.1);
    background-color: #c2f5c5;
  }

  /* selected link */
  a:active {
    color: rgb(179, 100, 27);
  } 
  
/* Bildestørrelse dynamisk*/
  img {
max-width: 100%;
height: auto;
}