/* Generelle stiler */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #afafbd;
    color: #333;
}

header {
    background-color: #249928;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1, h2 {
    margin: 0 0 1em;
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.section1, .section2, .section3 {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(252, 249, 249, 0.1);
}
.section4 {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(252, 249, 249, 0.1);
    grid-column: span 3;
    text-align: center;

}
/* Liste-stiler */
ul {list-style-type: square;
    padding-left: 20px;
}

ol {
    padding-left: 20px;
}

/* Responsiv design */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
