/* 
---------------------- CSS for Kontakt underside ---------------------

    Denne undersiden er spesifisert for å kunne kontakte utgiver.
    Skrevet av Tord

*/


/* Global Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* -------------------HEADER STYLING--------------------- */

header{
  background-color: white;
  width: 100%;
  color: black;
} 

header h2{
   font-size: 30px;
}
 
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  max-height:40px;
  min-height: 40px;
}
  
nav ul li{
  list-style: none;
  display: inline-block;
}

/* HEADER LINKER */
nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 0 15px;
}

nav ul li a:hover{
 color: rgb(203, 178, 54);
 transition-duration: 0.3s;
}

/* -------------------BODY STYLING--------------------- */

body{
  background-color: green;
}

/* Teskt Decor */

h1{
  text-align: center;
  margin: 60px;
}

h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
}

h4{
  text-align: center;
}

/* Container Styling */

.contact-container {
  height: 100vh;
  display: flex;  
  align-items: center;
  justify-self: center;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-left hr{
  border: none;
  width: 120px;
  height: 3px;
  background-color: black;
  border-radius: 10px;
}

.contact-left textarea{
  height: 300px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs{
  width: 400px;
  height: 50px;
  padding-left: 25px;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-weight: lighter;
}

.contact-inputs:focus{
  border: 4px solid white;
  font-weight: bold;
  transition-duration: 0.1s;
  
}

.contact-inputs::placeholder{
  color: lightgray;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  gap: 10px;
  border: 2px solid gray;
  border-radius: 50px;
  cursor: pointer;
  background: gray;
}

.contact-left button:hover{
  background: white;
  border: 2px solid black;
  color: black;
  transition-duration: 0.3s;
}

@media screen and (max-width: 880px) {
  .contact-inputs {
    width: 80vw;
    font-size: 50px;
  }
  .contact-left {
    height: auto;
    gap: 50px;
  }
  body {
    background-color: red;
  }
}



/* -------------------FOOTER STYLING--------------------- */

/* FOOTER LINKER */
nav ul li b{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 0 15px;
  }
  
  nav ul li b:hover{
  color: rgb(203, 178, 54);
  transition-duration: 0.3s;
  }
  
  footer{

    background-color: rgb(0, 0, 0);
    color: white;
    padding: 50px;
    min-height: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  } 

  /* Solid border */
  hr.solid {
    border-top: 3px solid #020202;
    margin: 30px;
  }


