<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brukere og Biler</title>
</head>
<body>
<h1>Her er en oversikt over 2 databaser</h1>

    <ul>
        
            <li><a href="/biler">Se biloversikt</a></li>

            <li><a href="/users">Se users</a></li>
        </ul>
      
</body>
</html>
