<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brukere</title>
</head>
<body>
 

    <h1>Liste over brukere</h1>
       <ul>
        <% users.forEach(user => { %>
            <li><%= user.name %> - <%= user.email %></li>
        <% }) %>
    </ul>
 
    <ul>
        <a href="/">Tilbake til hovedsiden</a>
    </ul>
</body>
</html>